{
	"extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true,
			"spread": true,
			"restParams": true
		},
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	}
}
